include ../mixins/cnzz.jade

doctype html
<!--[if lte IE 8]>
|<html lang="#{data_lang}" class="lte-ie8">
<![endif]-->
<!--[if gt IE 8]><!-->
|<html lang="#{data_lang}">
<!--<![endif]-->
head
  meta(charset='utf-8')
  block title
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  block style
  if cnzz_id
    +cnzz(cnzz_id)

body
  block IEcondition

  block sidebar
  .container
    main
      block intro
      block content
  block footer
|</html>